.aboutUs {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutus_wrapper {
    width: 998px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.heading {
    margin-bottom: 50px;
    font-size: 45px;
    line-height: 65px;
    font-weight: bold;
    color: #333333;
    font-family: "Noto Sans";
    text-align: left;
}

/* NAVIGATION */

.nav {
    display: flex;
    margin-bottom: 80px;
}

.navBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navBlockOne {
    margin-right: 50px;
}

.tag1, .tag2 {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    padding-right: 8px;
}

.tag1:hover, .tag2:hover {
    color: #FF6C6C;
}

/* STYLES FOR TEXTS */

.intro {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #000000;
    text-align: left;
    max-width: 660px;
}

/* LIST */

.list {
    margin-bottom: 20px;
    list-style: none;
    text-align: left;
    max-width: 660px;
    margin-bottom: 30px;
}

.item {
    position: relative;
    padding-left: 28px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #000000;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.item::before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #01576C;
    border-radius: 50%;
    content: '';
}

.sublist {
    padding-left: 0;
    margin-top: 20px;
    list-style: none;
}

/* MEDIA */

@media (max-width: 1440px) {
    .text {
        max-width: 660px;
    }
    .list:not(.sublist) {
        max-width: 660px;
    }
    .item {
        position: relative;
        padding-left: 28px;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #000000;
    }
}

@media (max-width: 1023px) {
    .aboutUs {
        margin-top: 100px;
        padding: 0 40px;
    }
    .aboutus_wrapper {
        width: 100%;
    }
    .heading {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 40px;
    }
    .text {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 25px;
    }
    .list {
        margin-bottom: 30px;
    }
    .item {
        padding-left: 35px;
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .aboutus_wrapper {
        width: 100%;
    }
    .nav {
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    .tag1, .tag2 {
        margin: 15px 0px;
    }
    .intro {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #000000;
        text-align: left;
        max-width: 660px;
    }
}

@media (max-width: 500px) {
    .aboutUs {
        padding: 0 15px;
    }
}